<header id="mainHeader">
	<div class="innerContainer">
		<h1>Home managment studio</h1>
		<div id="loginStatus" ng-controller="topBar">
			<span>Zalogowany jako</span> 
			<span class="loginMenu">{{firstName}} {{lastName}}</span>
			<div id="loginPopup">
				<div class="arrow"></div>
				<span class="loginMenu">{{firstName}} {{lastName}}</span> - użytkownik
				<button class="cta logOut" ng-click="logout()">Wyloguj</button>
				<a href="#">zmień hasło</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</header>
<section id="sectionPage">
	<div class="innerContainer">
		
	<div ng-include src='"ang/partials/tabs.html"'></div>

		
		<div class="sensorsList">
			<div class="sensorRectangle" ng-repeat="s in sensors">
					<h3>{{s.description}}</h3>
					<img src="img/{{s.physical}}.png">
					<div class="sensorData">
						<span class="data">{{s.value}}</span> 
						<span class="unit">{{s.symbol}}</span>
					</div>
				</div>
			<div class="clear"></div>
		</div>
	</div>
</section>